@import "tailwindcss";

@theme {
  --font-Stint: 'Stint Ultra Condensed', sans-serif;

  --color-text: #FDD8A8;
  --color-layers: #641F16;
  --color-timer: #FDD8A8;
}

@font-face {
  font-family: 'Stint Ultra Condensed';
  src: url('../fonts/StintUltraCondensed-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
